@layer utilities {
  .input-auth {
    @apply border-b border-none;
  }

  .dropdown-blur-custom {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    @apply rounded border-none;
  }
  .promo-bg-blur {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.8) 70%);
  }
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  // Star custom

  .star-outer::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #ccc;
    font-size: 21px;
  }
  .star-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: gold;
  }

  // swiper slider for product detail page

  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #fff;

  //   /* Center slide text vertically */
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  // .swiper {
  //   width: 50%;
  //   height: 300px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  // .swiper-slide {
  //   background-size: cover;
  //   background-position: center;
  // }

  // .mySwiper2 {
  //   height: 80%;
  //   width: 100%;
  // }

  // .mySwiper {
  //   height: 20%;
  //   box-sizing: border-box;
  //   padding: 10px 0;
  // }

  // .mySwiper .swiper-slide {
  //   width: 25%;
  //   height: 100%;
  //   opacity: 0.4;
  // }

  // .mySwiper .swiper-slide-thumb-active {
  //   opacity: 1;
  // }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  // slider custom

  .container1 {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  // slider custom

  // .container1 {
  //   max-width: 1170px;
  //   margin: 0 auto;
  // }
}
