@layer utilities {
  .input-auth {
    @apply border-b border-none;
  }

  .dropdown-blur-custom {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    @apply rounded border-none;
  }
  .promo-bg-blur {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.8) 70%);
  }
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  // Star custom
  .star-outer::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #ccc;
    font-size: 21px;
  }
  .star-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: gold;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .shadow-input-primary {
    box-shadow: 0px 1px 13px 0px #0000000d;
  }

  .swiper-pagination {
  }

  .swiper-pagination-bullet {
    background: #000;
    opacity: 0.5;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-pre.swiper-button-disabled {
    opacity: 0;
  }
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 14px;
  color: #000;
  opacity: 1;
  background: #db4444;
  outline: 3px rgba(0, 0, 0, 0.2) solid;
}
