@layer utilities {
  .input-auth {
    @apply border-b border-none;
  }

  .dropdown-blur-custom {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    @apply rounded border-none;
  }
  .promo-bg-blur {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.8) 70%);
  }
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  // Star custom
  .star-outer::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #ccc;
    font-size: 21px;
  }
  .star-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: gold;
  }

  //  Swiper detail product
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .shadow-input-primary {
    box-shadow: 0px 1px 13px 0px #0000000d;
  }
}
