@tailwind base;
@tailwind components;
@tailwind utilities;

.sua-tai-test {
  color: yellow;
}
/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
}

@layer base {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins), sans-serif;
  }

  .inter-font {
    font-family: var(--font-inter), sans-serif;
  }
}

@layer components {
  .l-container {
    max-width: calc(1440px + 286px);
    width: 100%;
    margin: 0 auto;
    padding: 0 143px;
  }
}
